/* @font-face{
    font-family: ...;
    src: url(...);
} */
/* @import url(font link); */

body {
  font-family: "Poppins";
  background: #222a36;
}
.w-100 {
  width: 100%;
}
.mb-140 {
  margin-bottom: 140px;
}
/* for header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
}
.nav_link {
  width: 60px;
  height: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.navbar-brand {
  width: 73px;
  height: 45px;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}
.contact_btn {
  width: 112px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 152px;
  height: 50px;
  background-color: #676cdb;
  border: none;
}
/* for banner */
.banner-text {
  width: 735px;
  height: 216px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
}
.banner-caption {
  width: 404px;
  height: 108px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.5);
}
.email_btn {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  flex-direction: row;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  width: 203px;
  height: 64px;
  top: 138px;
  background: #676cdb;
  border: none;
  color: white;
}
.download_btn {
  background: none;
  color: white;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-decoration-line: underline;
}
.banner {
  padding-bottom: 140px;
  background-image: url(../img/Rectangle\ 3.png);
  background-repeat: no-repeat;
  background-position: right;
}
.icon {
  width: 100px;
  height: 96px;
}
.icon_row {
  background-color: black;
  padding: 30px;
}
/* for proffesion and box section */
.profession {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 180%;
  text-align: center;
}
.work_experience {
  width: 207px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 180%;
}
.years {
  display: flex;
  align-items: center;
  width: 133px;
  height: 211.96px;
  top: 1386px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 120%;
  color: #676cdb;
  margin-left: 24px;
}
/* box section */
.box_1 {
  position: relative;
  height: 622.03px;
  width: 286.4px;
  background: #676cdb;
  margin: 5px;
}
.profession_icon {
  width: 36px;
  height: 30px;
}
.profession_description {
  width: 182.44px;
  height: 66px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  text-align: start;
}
.profession_container {
  position: absolute;
  bottom: 0;
}
.box_2 {
  position: relative;
  display: flex;
  width: 288px;
  height: 288px;
  background-color: #c4c4c4;
  margin: 5px;
}
.text-blue {
  color: #222a36;
}
/* end of the section */
.man_img {
  width: 390px;
  height: 392px;
}
.carousel_header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 120%;
}
.carousel_description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
}
.text-purple {
  color: #676cdb;
}
.section-size {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
}
.footer_container {
  display: flex;
  justify-content: center;
}
.footer_description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.5);
}
